<form>
    <label for="name">Name</label>
    <input type="text" id="name" name="name" />
    <label for="profile-picture">Profile Picture</label>
    <input type="text" id="profile-picture" name="profile-picture" />
    <label for="bio">Bio</label>
    <input type="text" id="bio" name="bio" />
    <input type="submit" value="Add dog" />
</form>
<script src="/scripts/add-dog.js"></script>
